body {
    background-color: rgb(221, 236, 255);
}

#localVideo,
#remoteVideo {
    width: 350px;
    height: 350px;
    background: white;
    background-image: url('https://img.icons8.com/cotton/64/000000/student-male--v2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 5%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0;
}

span {
    font-size: 16px;
    font-family: bold;
    margin-top: 35px;
}